
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- Style CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bybit/layout.css') }}">

    {% if title %}
    <title>Bybit App - {{ title }}</title>
    {% else %}
    <title>Bybit App</title>
    {% endif %}
</head>

<body id="main-body" class="{% if page=='home' %}homepage{% endif %}">
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
            <div class="container">
                <div class="dropdown mr-5">
                    <a class="btn btn-outline-primary rounded mr-2" href="/">FTX APP</a>
                    <a class="btn btn-outline-warning rounded active" href="/bybit">BYBIT APP</a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="navbar-nav mr-auto">
                        <a class="nav-item nav-link" href="/bybit">Home</a>
                        <a class="nav-item nav-link" href="/bybit/inputs">Inputs</a>
                        <a class="nav-item nav-link" href="/bybit/view">View</a>
                        <a class="nav-item nav-link" href="/bybit/journal">Journal</a>
                        {% if g.user %}
                        <span class="nav-item nav-link" style="margin-left: 150%">{{ g.user.username }}</span>
                        <a class="nav-item nav-link" href="/Login">Logout</a>
                        {% else %}
                            <a class="nav-item nav-link" href="/Login" style="margin-left: 120%">Login</a>
                            <a class="nav-item nav-link" href="#">Register</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <main role="main" class="container-fluid">
        <div class="row">
            <div class="container-fluid">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{category}}">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}
                {% block content %}{% endblock %}
            </div>
        </div>
    </main>
</body>
</html>