body {
    background: #333333;
    color: black;
    margin:auto;
    margin-top: 5rem;
    position: center;
    width: 1700px;
    display:flex;
    padding:10px;


}


body:focus{
    outline:none;
}


main{
    margin:auto;
    
}

main .container-fluid{
    margin:auto;
    padding:10px;
    


}
h1, h2, h3, h4, h5, h6 {
    color: #444444;
}

.bg-steel {
    background-color: #1b1f20;
}

.site-header .navbar-nav .nav-link {
    color: white;
    opacity: 0.9;
}

    .site-header .navbar-nav .nav-link:hover {
        color: #0275d8;
    }

    .site-header .navbar-nav .nav-link.active {
        font-weight: 500;
    }

.site-header .dropdown-menu .dropdown-item {
    color:white;
}
.site-header .dropdown-menu .dropdown-item:hover {
    background-color: rgb(105 105 105 / 0.84);
}


.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}

.article-title {
    color: #444444;
}

a.article-title:hover {
    color: #428bca;
    text-decoration: none;
}

.article-content {
    white-space: pre-line;
}

.article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
}

.article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3;
}

    .article-metadata a:hover {
        color: #333;
        text-decoration: none;
    }

.article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}

.account-heading {
    font-size: 2.5rem;
}

.form-group {
    color: white;
    font-size: 16px;
}

    .form-group input[type=text],
    .form-group input[type=number],
    .form-group input[type=password],
    .form-group select {
        background-color: rgba(22, 19, 19, 0.40);
    }
